.navbar {
  font-size: 0.9em;
  height: 70px;
  background-color: white;
}

.buttonLogin {
  font-size: 0.9em;
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 4px;
  background-color: #5e50a1;
  color: white;
  margin: 0 10px;
}

.buttonLogin:hover {
  background-color: #8472df;
  color: white;
}

.buttonSignup {
  text-decoration: none;
  font-size: 0.9em;
  padding: 4px 20px;
  border-radius: 4px;
  border: 1px solid #5e50a1;
  color: #303030;
  margin: 0 10px;
}

.buttonSignup:hover {
  padding: 4px 20px;
  background-color: #8472df;
  color: white;
  margin: 0 10px;
}

.navLink {
  color: #1f2a36;
  transition: ease-in-out 0.3s;
}

.navLink:hover {
  border-bottom: 1px solid #1f2a36;
  padding-left: 0;
  width: 50%;
}

.buttonNotif {
  color: #1f2a36;
  margin: 0 20px;
}

.iconNotif {
  font-size: 1.4em;
}

.iconMessage {
  font-size: 1.4em;
}

.buttonProfile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 10px;
}

.imageProfile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 576px) {
  .navbarCollapse {
    background-color: white;
    width: 100%;
    padding: 20px 0;
  }

  .buttonProfile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
  }

  .imageProfile {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
  }
}

@media screen and (max-width: 767px) {
  .navbarCollapse {
    background-color: white;
    width: 100%;
    padding: 20px 0;
  }

  .buttonProfile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
  }

  .imageProfile {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
  }
}

@media screen and (max-width: 991px) {
  .navbarCollapse {
    background-color: white;
    width: 100%;
    padding: 20px 0;
  }

  .buttonProfile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
  }

  .imageProfile {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
  }
}
