.bgBody {
  background-color: #f6f7f8;
}

.wrapperCard {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.imageCard {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 30px;
}

.titleName {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
}

.job {
  font-size: 1em;
  color: #9ea0a5;
  margin: 5px 0;
}

.wrapperLocation {
  display: flex;
  align-items: center;
  color: #9ea0a5;
  margin: 13px 0;
}

.description {
  color: #9ea0a5;
  margin-bottom: 30px;
}

.wrapperSkills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.skills {
  font-size: 0.9em;
  background-color: #fbb017;
  padding: 6px 20px;
  border-radius: 4px;
  color: white;
}

.listSocials {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.listSocial {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #9ea0a5;
}

.icon {
  font-size: 1.8em;
  margin-right: 15px;
}

.titleIcon {
  font-size: 1.1em;
}

/* ========================== */
.titleHeader {
  font-weight: 700;
  color: #1f2a36;
}

.subTitle {
  color: #1f2a36;
}

.buttonHire {
  text-decoration: none;
  color: white;
  width: 100%;
  background-color: #fbb017;
  padding: 13px 30px;
  border: none;
  border-radius: 4px;
}

.formControl {
  color: #46505c;
  width: 97%;
  box-sizing: border-box;
  height: 50px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.11);
  border-radius: 6px;
  margin-bottom: 30px;
}
