* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

:root {
  --background: #fff;
  --backgroundLogin: #f6f7f8;
  --primaryColor: #5e50a1;
  --buttonColor: #fbb017;
  --primaryFontColor: #1f2a36;
  --secondFontColor: #46505c;
  --placeHolder: #9ea0a5;
}

body {
  background-color: var(--background);
  font-family: 'Ubuntu';
}
