.bgBody {
  background-color: #f6f7f8;
}

.wrapperCard {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
}

.imageCard {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 30px;
}

.titleName {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
}

.job {
  font-size: 1em;
  color: #9ea0a5;
  margin: 5px 0;
}

.wrapperLocation {
  display: flex;
  align-items: center;
  color: #9ea0a5;
  margin: 13px 0;
}

.description {
  color: #9ea0a5;
  margin-bottom: 30px;
}

.wrapperSkills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.skills {
  font-size: 0.9em;
  background-color: #fbb017;
  padding: 6px 20px;
  border-radius: 4px;
  color: white;
}

.buttonHire {
  text-decoration: none;
  color: white;
  width: 100%;
  background-color: #5e50a1;
  padding: 13px 30px;
  border: none;
  border-radius: 4px;
}

.buttonCancel {
  text-decoration: none;
  color: #5e50a1;
  width: 100%;
  background-color: #f6f7f8;
  border: 1px solid #5e50a1;
  padding: 13px 30px;
  border-radius: 4px;
  margin-top: 15px;
}

.listSocials {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.listSocial {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #9ea0a5;
}

.icon {
  font-size: 1.8em;
  margin-right: 15px;
}

.titleIcon {
  font-size: 1.1em;
}

.wrapperButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  box-sizing: border-box;
  height: 50px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.11);
  border-radius: 6px;
  margin-right: 20px;
  margin-top: 0;
}
.buttonSimpan {
  border: none;
  padding: 10px 20px;
  height: 50px;
  border-radius: 4px;
  background-color: #fbb017;
  color: white;
  margin-top: 10px;
}

.buttonSimpan:hover {
  border: none;
  padding: 10px 20px;
  height: 50px;
  border-radius: 4px;
  background-color: #ffaa00;
  color: white;
}

.buttonAdd {
  text-decoration: none;
  color: white;
  width: 100%;
  background-color: #ffaa00;
  padding: 13px 30px;
  border: none;
  border-radius: 4px;
}

.wrapperUpload {
  text-align: center;
  padding: 30px 150px;
  border: 1px dashed #9ea0a5;
  width: 100%;

  border-radius: 4px;
}

.wrapperCardRulesImg {
  display: flex;
  justify-content: center;
}

.wrapperImg {
  margin: 20px 10px;
}

@media screen and (max-width: 991px) {
  .wrapperUpload {
    text-align: center;
    padding: 30px 30px;
    border: 1px dashed #9ea0a5;
    width: 100%;

    border-radius: 4px;
  }
}
